html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/* ------------------------------ */

html {
    scroll-behavior: smooth;
}

h1 {
    padding: 150px 60px;
    font-size: 60px;
    text-align: center;
    margin: 0;
    font-family: "Dancing Script", cursive;
    color: #e3e0c8;
    background: url("obrazky/obr1.jpeg") center center no-repeat;
    background-size: cover;
    border-bottom: 2px solid #818c78;

}

h2 {
    color: #374542;
    font-size: 40px;
    font-family: "Dancing Script", cursive;
    margin-bottom: 20px;
}

h3 {
    color: #4e635e;
    font-size: 35px;
    font-family: "Dancing Script", cursive;
    text-align: center;
    margin-bottom: 20px;
}

nav {
    background-color: #4e635e;
    text-align: center;
    padding: 30px;
    border-bottom: 2px solid #818c78;
}

nav a {
    padding: 30px;
    color: #e3e0c8;
    text-decoration: none;
    font-family: "Dancing Script", cursive;
    font-size: 30px;

    
}

nav a:hover {
    background-color: #818c78;
    color: #e3e0c8;
    
}

section {
    padding: 60px;
    background-color: #a6b49e;
    overflow: auto;
}


p {
    color: #4e635e;
    font-size: 20px;
    font-family: "Quicksand", sans-serif;
    
}

a {
    color: #374542;
    font-style: italic;
}

a:hover {
    color:#818c78;
}



.cestakprogramovani, .kontakt {
    background-color: #94a18a;
}



.omne img{
    border-radius: 25%;
    width: 150px;
    float: right;
    margin-left: 30px;
    border: 2px solid #818c78;
    
}



.meweby h2 {
    margin-bottom: 15px;
}

.meweby p {
    margin-bottom: 20px;
}

.meweby img {
    width: 24%;
    border: 2px solid #818c78;
    border-radius: 20%;
}



footer p {
    text-align: center;
    padding: 25px 0;
    color: #e3e0c8;
    background-color: #4e635e;
}
