html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/* ------------------------------ */

html {
    scroll-behavior: smooth;
    box-sizing: initial;
}

body {
    background-color: #a2c3a7;
    margin: 0;
    
}



h1 {
    padding: 40px;
    font-size: 50px;
    text-align: center;
    margin: 0;
    font-family: "Dancing Script", cursive;
    color: #DAF1DE;
    background: url("obrazky/obr1.jpeg") center center no-repeat;
    background-size: cover;
    border-bottom: 4px solid #051F20;
    border-top: 4px solid #051F20;
}

h2 {
    color: #051F20;
    font-size: 40px;
    font-family: "Dancing Script", cursive;
    margin: 0;
    text-align: left;
}

h3 {
    color: #051F20;
    font-size: 35px;
    font-family: "Dancing Script", cursive;
    text-align: center;
    margin-bottom: 20px;
}

nav {
    background-color: #163832;
    text-align: right;
    padding: 20px;
    
    
}

nav a {
    padding: 20px;
    margin: 10px;
    color: #DAF1DE;
    text-decoration: none;
    font-family: "Dancing Script", cursive;
    font-size: 25px;

    
}

nav a:hover {
    background-color: #235347;
    color: #DAF1DE;
    
}

section {
    padding: 50px 20%;
    overflow: auto;
    
   
}


p {
    color: #4e635e;
    font-size: 20px;
    font-family: "Quicksand", sans-serif;
    text-align: left;
}

a {
    color: #374542;
    font-style: italic;
}

a:hover {
    color: #8EB69B;
}


.omne img{
    border-radius: 30%;
    width: 185px;
    margin-top: 25px;
    float: left;
    overflow: auto;
    margin-right: 30px;
    border: 2px solid #051F20;
}

.omne h2 {
    text-align: left;
    margin-left: 28%;
}


.cestakprogramovani h2 {
    text-align: center;
}

.cestakprogramovani, .maprace {
    background-color: #8EB69B;
}

.maprace img {
    width: 24%;
    border: 2px solid #818c78;
    border-radius: 20%;
}

.maprace p {
    text-align: center;
    margin-bottom: 30px;
}

.kontakt h2 {
    text-align: left;
}

footer p {
    margin: 0;
    text-align: center;
    padding: 25px 0;
    color: #DAF1DE;
    background-color: #163832;
    border-top: 4px solid #051F20;
}
