html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/* ------------------------------ */

body img {
    width: 100%;
}

body {
  margin: 0;
  background-color:#94a18a;
}

